  /* esse é um bloco normal de css, o browser vai ler e mostrar esses valores na tela do usuário */
  .box {
    border: 1px solid #000;
    width: 320px;
    height: 120px;
    background-color: red;
  }
  
  /* esse é um bloco condicional, o browser vai ler e mostrar esses valores na tela do usuário SE a resolução da tela for menor que 768px */
  @media (max-width: 768px) {
    .box {
      background-color: blue;
    }
  }
  
  /* esse é um bloco condicional, o browser vai ler e mostrar esses valores na tela do usuário SE a resolução da tela for menor que 420px */
  @media (max-width: 420px) {
    .box {
      width: 100%;
      background-color: yellow;
    }
  }