.banner {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  height: 85vh;

  .banner-content {
    height: 85vh;
    overflow: hidden;
    @include flex(flex-end, center);

    .banner-text {
      width: 50%;
      padding-bottom: 50px;
    }

    h2 {
      @include title(unset, $color-secondary);
    }
    h5 {
      color: $color-secondary;
      font-size: $font-size-text;
    }
    .btn-fill {
      @include button(10px, 20px, $color-icon, $color-secondary);
    }
    .btn-simple {
      @include button(10px, 20px, transparent, $color-secondary);
      font-size: 20px;
    }
  }
  .parallax-image {
    text-align: center;
    width: 100%;
    img {
      height: 570px;
      margin-bottom: -140px;
    }
  }
  .banner-img {
    width: 50%;
  }
}
