body {
  margin: 0;
  font-family: "Open-sans", sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Open-sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    width: 90%;
  }
}

.section-title {
  @include title(uppercase, $color-primary);
  margin-top: 0;
}

div[class^="section-"] {
  padding: $padding 0;
}
