@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin descricao {
  font-size: $font-size-texto;
  color: $cor-texto;

  h4 {
    font-size: $font-size-descricao;
  }

  width: 16vw;
  margin-top: 50px;
  margin-bottom: 50px;
}