// cor
$branco: #ffffff;
$azul: #121a47;
$vermelho: #c90328;
$cinza: #707070;
$cinza-claro: #fafafa;

$cor-primaria: $branco;
$cor-secundaria: $azul;
$cor-titulo-vermelho: $vermelho;
$cor-texto: $cinza;

// fontes

$font-size-titulo: 25px;
$font-size-subtitulo: 32px;
$font-size-descricao: 24px;
$font-size-texto: 16px;
$largura-mobile:960;

// botão
$border: solid 1px;
$altura: 4.81vh;
$border-radius: 4px;


// responsivo 960px
$font-size-titulo-resp: 30px;
$font-size-subtitulo-resp: 26px;
$font-size-descricao-resp: 14px;
$font-size-texto-resp: 12px;
$largura-mobile:960px;